header {
    // padding: 120px 0 165px;
    /* margin-top: -70px; */
    background-image: url("../images/header.jpg");
    background-size: cover;
    /* height: 700px; */

    .overlay {
        background-color: rgba(0, 0, 0, 0.7);
        opacity: 1;
        padding: 100px 0 140px;
    }

    .btn-masuk {
        background-color: rgb(0, 134, 60);
        color: #ffff;

        &:hover {
            background-color: rgb(0, 100, 45);
            color: #ffff;
        }
    }

    .btn-daftar {
        background-color: rgb(0, 134, 60);
        color: #ffff;

        &:hover {
            background-color: rgb(0, 100, 45);
            color: #ffff;
        }
    }
}
